<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApiConnectionString" connectionString="Data Source=recipereco.c1msatqgvyfp.eu-west-2.rds.amazonaws.com, 1433;Initial Catalog=recipeReco;Persist Security Info=True;User ID=awsdbuser;Password=awsdbuser123$;Encrypt=False"/>
    <!--<add name="ApiConnectionString" connectionString="Data Source=desktop-sheena;Initial Catalog=RecipeReco;Integrated Security=True" />-->
  </connectionStrings>
</configuration>