@using APIQuery.Models
@model UserRating
@{
    Layout = "";
}
<label>Your ratings:</label>
@if (Model.Rating > 0)
{
    for (int sIndex = 0; sIndex < Model.Rating; sIndex++)
    {
        <label><img src="/images/star.jpg" alt="Rating" style="height:20px;width:20px" /></label>
    }
}
@if (Model.LikeDislike)
{
    <label><img src="/images/thumbsup.jpg" alt="Liked it!" style="height:40px;width:40px" /></label>
}
else
{
    <label><img src="/images/thumbsdown.jpg" alt="Disliked" style="height:40px;width:50px" /></label>
}
<br />
<label style="font-family:'Lucida Sans';font-size:small;font-weight:600">Thank you for your rating !</label>

